.name {
font-size:2em;
}
.name a:hover {
    border:1px;
}
.entity {
border: 1px solid #eeeeee;
padding: 10px;
background:#FFF;
}
.entity a:hover {
color:#FFF;
}
.title {
text-align:right;
border-bottom: 1px dotted #d9d9d9;
padding:10px;
font-weight: bold;
}
.content {
line-height:2em;
}

.container {
margin-left:5%;
margin-right:5%;
}
body {
font-family: "Trebuchet MS",Verdana, Helvetica, Arial, sans-serif;
background:#EBEAEA;
padding:0;
margin:0; 
}

a:hover {
text-decoration: none;
background: #ce7a00;
}

.nav {
margin: 0;
padding: 10px;
background:#F19050;
border: 1px solid #eeeeee;
font-size:1em;
}
.nav a {
color: #FFF;
text-decoration: none;
font-weight: bold;
}
#page a {
color: #FFF;
text-decoration: none;
font-weight: bold;
}
#page {
float:right;
margin-top: -30px;
padding-right: 10px;
height:1em;
margin-bottom: 20px;
color: #FFF;
text-decoration: none;
font-weight: bold;
font-size:0.7em;
}
a {
color:#000;
text-decoration: none;

}
#foot {
margin: 0;
padding: 10px;
background:#FFF;
border: 1px solid #eeeeee;
font-size:0.7em;
}

